.page {
  .main {
    position: relative;
    padding-top: 179px;
    min-height: 940px;
    background: $color-13;
    overflow: hidden;

    @include _850 {
      padding-top: 137px;
      min-height: unset;
    }

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 96px;
      background: url(img/vector.svg);
      background-size: 100%;
    }

    &__row {
      display: flex;

      @include _1000 {
        flex-direction: column;
      }
    }

    &__left {
      position: relative;
      z-index: 1;
    }

    &__badge {
      padding: 11px 30px;
      display: inline-block;
      background: $color-12;
      border-radius: 15px;
      font-size: 18px;

      @include _850 {
        padding: 8px 20px;
        font-size: 14px;
        border-radius: 30px;
      }
    }

    &__title {
      margin-top: 10px;
      max-width: 620px;
      font-weight: 400;
      font-size: 55px;

      @include _850 {
        font-size: 35px;
      }
    }

    &__text {
      margin-top: 30px;
      font-weight: 700;
      font-size: 25px;
      max-width: 550px;
      opacity: 0.5;

      @include _850 {
        font-size: 18px;
        margin-top: 20px;
        max-width: 400px;
      }
    }

    &__right {
      position: relative;
      flex-grow: 1;

      @include _1000 {
        margin-top: 40px;
      }

      img {
        position: absolute;
        top: -48px;
        right: 150px;
        width: 626px;
        height: 784px;
        max-width: unset;

        @include _1000 {
          right: 0px;
          position: static;
          width: 70%;
          height: auto;
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        width: 830px;
        height: 622px;
        background-image: url(img/header-elements.svg);

        @include _1000 {
          right: 0px;
        }
      }
    }

    &__btn {
      @include btn;
      margin-top: 68px;
      font-size: 25px;

      @include _850 {
        margin-top: 30px;
      }
    }
  }
}
